.Game>#container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}
.Game>#container>canvas {
  max-width: 100%;
  max-height: 100%;
}

.Game>#vv {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.Game>#centerTip {
  position: absolute;
  width: 100vw;
  top: 48vh;
  text-align: center;
}
